.Form-all {
  background-color: #EFEFEF;
  padding:10px;
  margin: 10px;
  border-bottom:  #FF3B3F, solid, 6px;
}
.Form-message {
  border: solid;
  border-color: green;
  color: green;
  margin: 2px;
  padding: 2px;
}

.Form-error {
  border: solid;
  border-color: #FF3B3F;
  color: red;
  margin: 2px;
  padding: 2px;
}

.Form-submit {
  margin: 5px;
  padding:5px;
  background-color: #FF3B3F;
  border: none;
  color: white;
  font-style: bold;
  border-radius: 10px;
}
.Form-time {
  margin:5px;
  padding:5px;
  background-color: #FF3B3F;
  border:none;
  color: white;
  font-style: bold;
  border-radius: 10px;
}
.Form-temperature {
  padding: 0px;
  width: 50px;
}
.Form-date {
  margin:5px;
  padding:5px;
  background-color: #EFEFEF;
  border:none;
  font-style: bold;
}
