
.Location-city {
  font-size: 1.3em;
  font-weight: bold;
  background-color: #CAEBF2;
  padding:2px;
  border-bottom: #FF3B3F solid 1px;
}

.Location-city:hover {
  background-color: #f7cac9;
}
.Location-temperatures {
  margin: 10px;
  padding: 10px;
  background-color:  #EFEFEF;
  border-top: 0px;
  border-left: 0px;
  border-right:  0px;
  color: black;
  border-style: solid;
  border-color: #FF3B3F;
}

.Location.all {
  background-color: inherit;
}
