body {
background-image: url("./blue_sky.jpeg");
background-size:cover;
padding: 0;
repeat: no-repeat;
background-attachment: fixed;
font-family: sans-serif;
}

.App {
  text-align: left;
  padding:20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #CAEBF2;
  padding: 10px;
  color: #A9A9A9;
  margin-top: 0;
  margin-left: 0;
  border-radius: 25px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-locations-title {
  font-size: 1.5em;
  background-color:  #CAEBF2;
  border-top: 1px;
  border-style: groove;
  border-color:#CAEBF2;
  color:black;

}

.App-locations {
  border-style: inset;
  border-color: #CAEBF2;
  background-color:  #CAEBF2;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
